<p id="notice"><%= notice %></p>

<p>
  <strong>Dish name:</strong>
  <%= @order.dish_name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order.price %>
</p>

<p>
  <strong>Customer Name:</strong>
  <%= @order.custome_name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @order.location %>
</p>

<p>
  <strong>Order time:</strong>
  <%= @order.created_at %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
